body{
    background-color: rgb(175, 72, 201);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#first{
    font-weight: 50;
}
a:link{
    color: rgb(252, 104, 6);
}
a:visited{
    color: rgb(255, 217, 0);
}
a:hover{
    background-color: white;
}
a:active{
    background-color: blue;
}


