h3{
    background-color: rgb(113, 113, 207);
    text-align:center;
    color: rgb(27, 23, 23);
    margin:1cm;
}
div{
    background-color: firebrick;

}
.header{
    background-color: rgb(184, 117, 36);
    
  
}
#Head{
    background-color:rgb(116, 50, 116) ;
    color: rgb(223, 235, 235);
    width: 220px;
}